*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Arial', sans-serif;
}

body{
    background:#0b0f19;
    color:#fff;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:rgba(10,10,20,0.8);
    backdrop-filter: blur(10px);
    border-bottom:1px solid rgba(255,215,0,0.2);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:26px;
    font-weight:bold;
    color:#d4af37;
    letter-spacing:1px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    color:#ddd;
    text-decoration:none;
    transition:0.3s;
    font-size:14px;
}

.nav-links a:hover{
    color:#d4af37;
}

/* HERO */
.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    background:
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0');
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:60px;
    color:#fff;
    margin-bottom:20px;
}

.hero p{
    max-width:600px;
    color:#ccc;
    font-size:18px;
    margin-bottom:30px;
}

/* BUTTON */
.btn{
    padding:14px 30px;
    background:#d4af37;
    color:#000;
    text-decoration:none;
    font-weight:bold;
    border-radius:30px;
    transition:0.3s;
}

.btn:hover{
    background:#b8962e;
    transform:scale(1.05);
}

/* RESPONSIVE */
@media(max-width:768px){
    .nav-links{
        flex-direction:column;
        position:absolute;
        top:70px;
        right:10%;
        background:#111;
        padding:15px;
        border-radius:10px;
    }

    .hero h1{
        font-size:38px;
    }
}
